#userText {
    font-size: 22px;
    margin-right: 30px;
}

#brand {
    width: 100px;
    height: 100px;
}

#toggleBtn {
    background: transparent;
    border: none;
    margin-left: 8px;
    display: none;
}

@media screen and (max-width: 400px) {
    .navbar {width: 400px; height: 200px;}
    #brand {width: 90px; height: 90px; margin-left: 20px; margin-bottom: 10px;}
    #userText{display: none;}
    #toggleBtn {display: block;}
}

