.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 130px;
  }
  
  .sidenav a {
    padding: 6px 8px 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: turquoise;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 400px) {
    .sidenav {display: none;}
    /* .sidenav a {font-size: 18px;} */
  }
